<div class="modal fade" [id]="modalId">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form [formGroup]="bugForm">
                <div class="modal-body">
                    <fieldset class="form-inline">
                        <div class="form-group" id="title-form-group">
                            <label for="title-field" class="sr-only">Bug Title</label>
                            <input type="text" class="form-control" id="title-field" placeholder="Bug title" formControlName="title">
                        </div>
                        <div class="form-group float-xs-right">
                            <label for="status-dropdown" class="sr-only">Status</label>
                            <select id="status-dropdown" class="form-control btn btn-primary" formControlName="status">
                                <option value="1">Logged</option>
                                <option value="2">Recreated</option>
                                <option value="3">In Progress</option>
                                <option value="4">Fixed</option>
                                <option value="5">Declined</option>
                            </select>
                        </div>
                    </fieldset>
                    <div class="form-group col-md-3 float-xs-left" id="severity-form-group">
                        <label for="severity-dropdown" class="sr-only">Severity Dropdown</label>
                        <select name="" id="severity-dropdown" class="form-control" formControlName="severity">
                            <option value="1">Severe</option>
                            <option value="2">Medium</option>
                            <option value="3">Low</option>
                            <option value="4">Cosmetic</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="desc-area" class="sr-only">Description</label>
                        <textarea id="desc-area" rows="10" class="form-control" placeholder="Type a description of your bug" formControlName="description"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-secondary btn-xl" type="button" data-dismiss="modal">Cancel</button>
                    <button class="btn btn-success btn-xl" type="submit" data-dismiss="modal" (click)="submitForm()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>